<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}Balance App{% endblock %}</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/flat-remix.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

  {% include 'components/header.html' %}
  {% include 'components/navbar.html' %}

  <main>

    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
    <div class="exito-flash">
      <p>
        <i class="fa-solid fa-circle-check fa-2xl"></i>
      </p>
      <div class="mensajes-flash">
        {% for msg in mensajes %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block page_title%}
    <h1>App de movimientos</h1>
    {% endblock page_title %}

    {% block contenido %}
    {% endblock %}

  </main>

  {% include 'components/footer.html' %}

</body>

</html>
